<mat-toolbar color="primary">
    <span>Misafirhane Uygulaması</span>
    <span class="spacer"></span>
    <!-- Eğer currentUser varsa, giriş yapılmış demektir -->
    <ng-container *ngIf="authService.currentUser(); else loggedOut">
      <span>Merhaba, {{ authService.currentUser()?.adSoyad }}</span>
      <button mat-button (click)="onLogout()">Çıkış Yap</button>
    </ng-container>
    <!-- Giriş yapılmamışsa -->
    <ng-template #loggedOut>
      <button mat-button (click)="onLogin()">Giriş Yap</button>
    </ng-template>
  </mat-toolbar>
  