<div class="misafirhane-detail-container">
  <h2>Misafirhane Düzenle</h2>
  <form [formGroup]="misafirhaneForm" (ngSubmit)="onSubmit()" class="misafirhane-form">
    
    <mat-form-field appearance="outline">
      <mat-label>Misafirhane Adı</mat-label>
      <input matInput formControlName="ad" placeholder="Misafirhane adı" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Konum</mat-label>
      <input matInput formControlName="konum" placeholder="Konum" />
    </mat-form-field>

    <mat-checkbox formControlName="aktifMi">Aktif Mi?</mat-checkbox>

    <div class="form-actions">
      <button mat-flat-button color="primary" type="submit">Güncelle</button>
    </div>
  </form>
</div>
