<form class="add-user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Ad Soyad</mat-label>
      <input matInput formControlName="adSoyad" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>E-posta</mat-label>
      <input matInput formControlName="eposta" type="email" />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol">
        <mat-option *ngFor="let r of roleOptions" [value]="r.value">
          {{ r.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Birim</mat-label>
      <mat-select formControlName="birimId">
        <mat-option *ngFor="let b of birimler" [value]="b.id">
          {{ b.kod }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="form-actions">
      <button mat-flat-button color="primary" class="save" type="submit">Kaydet</button>
      <button mat-stroked-button class="cancel" type="button" (click)="router.navigate(['/user/list'])">İptal</button>
    </div>
  </form>
  